<td-layout-nav logo="assets:covalent">
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>e-Commerce</span>
    <span flex></span>
    <button md-icon-button [mdMenuTriggerFor]="cart" mdTooltip="Cart" (click)="clickedCart()"> 
      <td-notification-count positionX="after" positionY="bottom"color="accent" [notifications]="notifications()">
        <md-icon>shopping_cart</md-icon>
      </td-notification-count>
    </button>
    <md-menu #cart="mdMenu">
      <td-menu>
        <div td-menu-header class="md-subhead">Products in your cart</div>
        <md-nav-list dense>
          <a md-list-item *ngFor="let item of itemArray">
            <md-icon md-list-avatar (click)="clickedItem(item.url)"><img class="img-avatar" [src]=item.url> </md-icon>
            <h4 md-line>
              <span class="x-number">x{{item.count}}</span>
              <span class="text-wrap x-name">{{item.name}}</span>
            </h4>
            <!-- <button md-icon-button mdTooltip="remove" (click)="clickedRemove(itemArray, item.url)"><md-icon>remove</md-icon></button>  -->
          </a>
        </md-nav-list>
        <button md-button color="accent" td-menu-footer>
        Close
      </button>
      </td-menu>
    </md-menu>
    <a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank">
      <md-icon>chrome_reader_mode</md-icon>
    </a>
    <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank">
      <md-icon svgIcon="assets:github"></md-icon>
    </a>
  </div>
  <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div flex-gt-sm="" *ngFor="let column of artArray">
      <div *ngFor="let image of column.column">
        <qs-app-card [card]="image"></qs-app-card>
      </div>
    </div>
  </div>
