.md-icon-ux {
  width: 100px;
}

.icon {
  font-size: 48px;
}

.chart-height {
  height: 300px;
}

.img {
  cursor: zoom-in;
}

.biggerImg {
  padding: 1000px;
}

.img-avatar{
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  margin-top: 5px;
}